@import "tailwindcss";

@keyframes highlight {
 0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(100, 150, 255, 0.4);
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 0 0 20px rgba(100, 150, 255, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(100, 150, 255, 0);
  }
}

@keyframes shake {
  0% { transform: rotate(0); }
  25% { transform: rotate(-5deg); }
  50% { transform: rotate(5deg); }
  75% { transform: rotate(-3deg); }
  100% { transform: rotate(0); }
}

@theme {
    --animate-highlight: highlight 1s ease-in-out infinite;
    --animate-shake: shake 1s ease infinite;
}